<h1>My Blog</h1>

<% @blog_posts.each do |blog_post| %>
  <div>
    <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
    <h2>
      <%= link_to blog_post.title, blog_post_path(blog_post.id) %>
      <% if user_signed_in? %>
        <% if blog_post.draft? %>
          <span> - Draft</span>
        <% elsif blog_post.scheduled? %>
          <span> - Scheduled</span>
        <% else %>
          <span> - Published</span>
        <% end %>
      <% end %>
    </h2>
    <%# just show the first 100 characeters in the body  %>
    <div>
      <%# blog_post.body.truncate(100) %>
      <%# converting rich text(ActionText) to plain_text, so that we can apply truncate %>
      <%= blog_post.content.to_plain_text.truncate(100) %>
    </div>
  </div>
<% end %>


<%# The == means that this will be evaluated as HTML, the single = sanitizes the HTML. %>
<%# We are trusting the output of Pagy for pagination, else it could have led to js execution as well. %>
<%# avoid using == in general %>   
<div class="pagination-container">
  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>