<%# code moved to application.html.erb %>
<%# if user_signed_in? %>
  <%#= link_to "Edit", edit_blog_post_path(@blog_post), class: "btn" %>
<%# end %>

<div class="txt-center">
  <%= image_tag @blog_post.cover_image if @blog_post.cover_image.present? %>
  <h1>
      <%= @blog_post.title %>
  </h1>
</div>

<p class="txt-center txt-justify">
    <%#= @blog_post.body %>
    
    <%= @blog_post.content %>
</p>